# dependencies
node_modules
node_modules/
**/node_modules/
backend/node_modules/**
mobile/node_modules/**

# env files
.env
.env.*
backend/.env
mobile/.env

# expo / react native
.expo/
dist/
web-build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# native folders
android/
ios/

# local db files
*.db
*.db-journal